<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link 
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
    >
    <title>{% block title %}Літера{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid">
      <nav>
        <ul>
          <li><h1>Літера</h1></li>
        </ul>
        <ul>
          <li><a href="{% url 'shop:product_list' %}">Каталог</a></li>
          <li><a href="#">Профіль</a></li>
        </ul>
      </nav>
    </header> 
    <main class="container">
      <section class="row between-xs">
        <div class="col-xs">
          {% block content %}
            <article class="box">Каталог товарів</article>
          {% endblock  %}
        </div>
        <div class="col-xs">
          <article class="box">Кошик</article>
        </div>
      </section>
    </main>
    <footer class="container-fluid">
      <p align="center">&copy; 2025 Літера</p>
    </footer>
  </body>
</html>
