<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="css/pico.min.css">
    <title>Літера</title>
  </head>
  <body>
    <header class="container-fluid">
      <nav>
        <ul>
          <li><strong>Літера</strong></li>
        </ul>
        <ul>
          <li><a href="{% url 'shop:product_list' %}">Каталог</a></li>
          <li><a href="#">Профіль</a></li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>Літера</h1>
    </main>
    <footer>
      <p>&copy; 2025 Літера</p>
    </footer>
  </body>
</html>
